# ==============================
# Node.js / Express defaults
# ==============================

# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
pm2.log
pids
*.pid
*.seed
*.pid.lock

# PM2 process dump
pids/
pmm/
dump.pm2
.pm2/

# Coverage / testing
coverage/
.nyc_output/

# Build outputs
dist/
build/
tmp/
temp/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Backup and cache
*.bak
*.tmp
.cache/
commitlint.config.js
.eslintcache

# ==============================
# Project-specific ignores
# ==============================

# Backup scripts & zips
auto_commit.log
backup-*.zip
.commit_day_count

# Git auto counter file
.commit_day_count

# VPS or deployment scripts
auto_commit.sh

# Abaikan semua isi di dalam storage
/storage/*
!/storage/.gitkeep
!/storage/projects/
/storage/projects/*
!/storage/projects/.gitkeep

!/storage/published/
/storage/published/*
!/storage/published/.gitkeep

!/storage/profiles/
/storage/profiles/*
!/storage/profiles/.gitkeep